/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sections */

.container{
    width: 60%;
    height: 500px;
    margin: 0 auto;
    border: 2px solid black;
}

/* Products */

.product{
    display: inline-block;
    width: calc(99% / 3);
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.one{
    background-image: url( ./images/1.webp );
}

.two{
    background-image: url( ./images/2.webp );
}

.three{
    background-image: url( ./images/3.webp );
}

.four{
    background-image: url( ./images/4.webp );
}

.five{
    background-image: url( ./images/5.webp );
}

.six{
    background-image: url( ./images/6.webp );
}

/* Details */

.details{
    position: relative;
    top: 500px;  
}

.name-product{
    font-weight: bolder;
}

.price{
    color: red;
}